<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.auspiciousrhino.listimport">

  <application>

    <activity
      android:name="org.auspiciousrhino.listimport.ListImportActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

  </application>

</manifest>